{{define "content"}}

<body>
    <nav class="navbar navbar-expand-lg navbar-light" id='navbar'>
        <div class="container-fluid">
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100">
                <li class="nav-item navigation">
                    <h2>Forum Example</h2>
                </li>
                <li class="nav-item navigation">
                    <div class="nav-link active links" aria-current="page" id="homeLink" >Home</div>
                </li>
                <li class="nav-item navigation">
                    <div class="nav-link links" id="newPostLink">New Post</div>
                </li>
            </ul>
          </div>
        </div>
    </nav>

    <div class="container-fluid w-100 h-100 main_container">
        <div class="row w-100 h-100">
            <div class="col-12 col-lg-6 px-2">
                <div class="row h-100" >
                    <div class="containter h-100 hide_scroll" style="overflow-y: scroll; position: relative">
                        {{range .Posts}}
                            <div class="card m-2 post-list" id="{{.Id}}">
                                <div class="card-body">
                                   <h4 class="card-title">{{.Title}}</h4>
                                </div>
                            </div>
                        {{end}}
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="row mb-lg-4">
                    <div class="col-12 pt-3">
                        <h2 id="home_title">Guidlines</h2>
                    </div>
                </div>
                <div class="row h-50">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lectus tortor, condimentum a dignissim in, condimentum at nisl. Integer a nunc sit amet tellus facilisis imperdiet non vel elit. Integer venenatis ligula sed ipsum tristique, sed interdum diam pharetra. Curabitur sed interdum mauris. Phasellus gravida suscipit magna, eget porta nibh posuere eget. Vivamus fringilla dui arcu, ut hendrerit libero placerat sit amet. Pellentesque mauris dolor, malesuada eu purus non, consequat egestas lectus. Donec posuere pharetra blandit. Vestibulum consequat consectetur elementum. Nunc facilisis elementum elit vitae pellentesque. Donec sit amet orci tortor. Nunc facilisis pharetra enim et tincidunt. Cras mollis tortor vestibulum purus venenatis pharetra. Aenean ex felis, placerat mollis quam sed, scelerisque pharetra velit. Sed ut lacus sit amet risus blandit imperdiet at sed arcu.
                    </p>
                </div>
                <div class="row w-100" id='contact_data'>
                    <div class='col-12 d-flex ps-4'>
                        <h4>For more information you can contact: </h4>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12 col-lg-6 text-muted d-flex justify-content-center">
                        example@email.com
                    </div>
                    <div class="col-12 col-lg-6 text-muted d-flex justify-content-center">
                        +38669784563
                    </div>
                </div>
                <div class="row w-100 mt-4">
                    <div class="col-4 col-lg-2 offset-lg-3 h-100 d-flex justify-content-center">
                        <a href="#" class="floating_button">
                          <i class="fa-brands fa-facebook-f float_icon"></i>
                        </a>
                    </div>       
                    <div class="col-4 col-lg-2  h-100 d-flex justify-content-center">
                        <a href="#" class="floating_button">
                          <i class="fa-brands fa-instagram float_icon"></i>
                        </a>
                    </div>
                    <div class="col-4 col-lg-2  h-100 d-flex justify-content-center">
                        <a href="#" class="floating_button">
                            <i class="fa-brands fa-twitter float_icon"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{{end}}
